body {
    background-color: #A6B8ED;
    margin: 0;
    color: #FFFFFF;
    font-family: "Inter", Arial;
}


.header {
    width: 100%; 
    height: 100px;
    background-color: #80000080;
    position: fixed; 
    top: 0px; 
    left: 0px;
    
}

.content {
    height: 100vh;
    width: 100%; 
    display: flex; 
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    box-sizing: border-box; /* Ensures padding doesn't affect width/height */
}

.index-content {
    height: calc(100vh - 100px);
    margin-top: 100px; /* Prevent overlap with the fixed header */
}

.main-card {
    max-width: 550px;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px; 
    padding-right: 20px;
    background-color: #80000080;
    border-radius: 10%;
    border: .75rem solid #0A122A;
}

.card-title {
    font-weight: normal;
    font-size: 3em;
}

p {
    text-align: center;
    margin-bottom: 2rem;
}



.sign-in, .register{
    display: inline-block;
    width: 175px; 
    padding: 10px;
    margin: 5px;
    text-align: center;   
    color: #FFFFFF;
    background-color: #0A122A;   
    font-size: 30px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-decoration: none;
}

.sign-in:hover, .register:hover {
    background-color: #FFFFFF;
    color:#0A122A;
    transition-duration: 0.5s;
}


/* button positioning  */
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}