<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Landing Page</title>
        <link rel="stylesheet" href="index_styles.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div class="header"></div>
        <div class="content">
            <div class="main-card">
                <h1 class="card-title">This is a Fake Site</h1>
                <img src="trophy.png" alt="trophy">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="buttons">
                    <button class="sign-in">Sign In</button>
                    <button class="register">Register</button>
                </div>
            </div>
        </div>
    </body>
</html>